.trigger {
    background-color: #fff;
    border-radius: 290486px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    color: #9013fe;
    display: inline-block;
    font-size: 0.8rem;
    line-height: 1;
    padding: 1.2em 2em;
    text-shadow: none;
    transition-property: box-shadow, transform;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    will-change: box-shadow, transform;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  }
  
  .trigger:hover {
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    transform: scale(1.02) translateY(-4px);
  }
  
  .button:active {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
      transform: scale(0.98) translateY(-2px);
    }
  
  .trigger {
    font-family: "Montserrat",  "Quicksand", sans-serif;
    letter-spacing: 0.3em;
    text-transform: uppercase;
  }
  
  .trigger {
    transform-origin: center;
    transition-duration: 100ms;
  }
  
  button:active {
    /* box-shadow: 0 0 15px 0 lightgrey inset;  */
    background-color: #EBEBEB;
    transform: scale(1.15,1.15);
    transition: transform 0s ease;
  }
  
  .modal {
    position: relative;
    /*must set position: relative for the body to remain behind the modal*/
    background-color: #3D3D3D;
    max-width: 600x;
    min-width: 150px;
    padding: 15px;
    text-align: center;
    margin: -50px auto 0 auto;
    border-radius: 10px;
    z-index: 4;
    visibility: hidden;
    /* opacity: 0; */
    cursor: pointer;
    /* box-shadow: 0 0 2px 1px #fff; */
    transition: all 0.25s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    font-family: "Montserrat", "Quicksand", sans-serif;
  
   
  }
  
  .modal::before {
    content: '';
    /* background-color: rgba(0,0,0,0.5); */
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*must set z-index: -1 to keep the backdrop behind the modal box*/
    z-index: -1;
  }
  
  .modalHeader{
    font-family: 'Montserrat', Verdana, Sans-Serif;
    color: #524948;
    
  }
  
  .modalText {
    font-family: 'Montserrat', Verdana, Sans-Serif;
    color: #524948;
    text-align: center;
    font-size: small;
  }
  
  .modalX {
   text-align: right;
   color: #000;
  }

  #avatar {
    width: 175px;
    border-radius: 2%;
   
  }